<mat-card>
  <mat-card-title>Appointments</mat-card-title>

  <mat-card-content>
    <div class="toolbar">
      <button mat-raised-button color="primary" (click)="openAdd()">
        Termin hinzufügen
      </button>
    </div>

    <div class="loading" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>

    <table mat-table [dataSource]="appointments" *ngIf="!loading" class="full-table">

      <!-- Columns -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; trackBy: trackById"></tr>
    </table>
  </mat-card-content>
</mat-card>