// Angular Material Theming (Material 3)
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;

  // Material system variables
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // optional fallback font
  font-family: Roboto, Arial, sans-serif;
}